@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
*{
  /* border:red 1px solid; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
  font-style: normal;
}
body{
  /* background-color: #fcfcef !important; */
  /* background-color: #f6e4bc !important; */
  background-color: #e9e2df !important;
}
:root{
  --dark--color:#08354c;
  --orange-color:#ff8e01;
}

a , button ,i{
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}
.pass-box{
  position: relative;
}
.seenpass{
  position: absolute;
  left: 10px;
  top: 7px;
  color: #08354c;
  cursor: pointer;
}
.alert{
  background:none !important;
  border: none !important;
  padding: 0 !important;
  color: rgb(207, 6, 6) !important;
}

input:focus{
  box-shadow: none !important;
}
label{
  font-weight: 600;
  color: var(--dark--color);
  padding-right: 8px;
  padding-bottom: 5px;
}
.phoneInput{
  width: 100%;
}
.PhoneInputInput{
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.PhoneInputInput:focus{
  border: 1px solid #ced4da !important;
  box-shadow: none !important;

}
.btn-orange{
  /* background-color: #f2732e !important; */
  background-color: #fa4c03 !important;
  color: #fff !important;
  border: none !important;
}
.btn-orange:hover{
  background-color: #f36426 !important;
  color: #fff !important;
}
.my-table{
  background-color: #fffff6;
  /* box-shadow: 3px 3px 5px #fec270; */
  box-shadow: 3px 3px 5px #8ca0aa;
  overflow-x: auto;
}
.star-requered{
  color: rgb(199, 61, 61);
  padding-right: 3px;
  font-size: 24px;
  font-weight: 500; 
}
.email-box{
border-radius: 10px;
background-color: #fff;
box-shadow: 5px 5px 10px #8ca0aa;
width: 60%;
padding: 20px !important;
}
.email-box p{
color: var(--dark--color);
font-weight: 600;
}
.ul-box{
  position: relative;
}
.ul-cities{
  background-color: #fff;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  border: solid 0.1px #adb6ba;
  position: absolute;
  width: 100%;
  z-index: 9;
}
.ul-clients{
  height: 200px;
  width: 75% !important;
}
.ul-clients li{
  font-weight: 600;
  border-bottom: #c1c6c2 solid 1px;
  padding: 3px 0px;
}
.ul-cities li:hover{
  background-color: #0a95ff;
  color: #fff;
}
/*login*/
.login-container{
  background-image: url(../src/assets/orangedelivery.avif);
  background-size: 100% 100%;
}
.login-box{
  border-radius: 10px;
  background-color: rgba(255,169,54,0.4);
  box-shadow: 7px 7px 10px #e39a5b;
  width: 40%;
  padding: 30px;}
.login-box .logo{
  width: 70px;
}
@media only screen and (max-width: 768px){
  .login-box{
    width: 100%;
    padding: 20px;
  }
  .email-box{
    width: 90%;
  }
}
/*side nav & nav */
#sidebar{
  /* margin: 10px; */
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100%;
  background-color:var(--orange-color) ;
  /* background-color: #fffff6; */
  /* border: solid 10px #fffff6; */
  /* border-radius:25px ; */
  z-index: 999;
  transition: all 0.3s ease;

}
#sidebar.hide{
  width: 60px;
}
#sidebar .brand{
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  overflow-x: hidden;
}
.brand .bx{
  min-width: 60px;
  display: flex;
  justify-content: center;
}
.side-menu{
  width: 100%;
  margin-top: 10px;
}
.side-menu li{
  /* height: 48px; */
  background-color: transparent;
  /* margin-right: 6px; */
  border-radius: 0px 48px 48px 0px;
  /* padding: 4px; */
}

.side-menu li a{
  width: 100%;
  height: 100%;
  padding: 12px 0px 12px 0px !important;
  /* background-color:#f9f9f9 ; */
  display: flex;
  align-items: center;
  /* border-radius: 48px; */
  color: #fffff6;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow-x: hidden;
  margin-right:10px;

}
.side-menu li a:focus{
  color: var(--orange-color);
}
/* .side-menu li a span{
  padding-right: 15px;
}*/
.side-menu li a i{
  font-size: 20px;
} 
.side-menu li a span{
  padding-right: 10px;
}
#sidebar .side-menu li.active a{
  color: var(--orange-color);
  font-weight: 900 !important;
  background-color: #fcfcef;
  border-radius: 10px;
  /*background-image: linear-gradient(to left , #fcfcef 60% , var(--orange-color));
  border-right: #ffbe82 solid 4px;
  */-webkit-border-radius: 15px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#sidebar.hide .side-menu li.active a{
  color: var(--orange-color);
  font-weight: 900 !important;
  background-color: #fcfcef;
  border-radius: 10px;
}
#sidebar.hide .side-menu li a{
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
.side-menu.top li a:hover{
  color: var(--orange-color);
  font-weight: 900 !important;
  background-color: #fcfcef;
  border-radius: 10px;
}
.side-menu li a .bx{
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
.side-menu li .logout{
  color: rgb(228, 30, 30);
}
.side-menu li .logout:hover{
  color: rgb(228, 30, 30);
}
#sidebar.hide .side-menu li .logout{
  color: rgb(228, 30, 30);

}
.active{
  color: var(--orange-color);
}
/* end side navbar */
/* start content */
#content{
  position: relative;
  width: calc(100% - 280px);
  transition: all 0.3s ease;
  right: 280px;
}
#sidebar.hide ~ #content{
  width: calc(100% - 60px);
  right: 60px;
}
#sidebar img{
  width: 50px;
  margin-right: 10px;
}
.iclose{
background-color: var(--dark--color);
border-radius: 50%;
display: inline;
padding: 2px 5px;
margin-top: 5px;
position: relative;
left: 0px;
}
.iclose i{
  color: #f9f9f9;
}
@media only screen and (max-width: 768px){
  #sidebar.hide{
    width: 280px;
  }
  #sidebar{
    width: 60px;
  }
  #sidebar .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
  }
  #sidebar.hide .side-menu li a{
    width: 100%;
    height: 100%;
   
  }
  #content{
      width: calc(100% - 60px);
      right: 60px;
  }
  .fa-bars{
    margin-right: auto;
  }
}
/* start navbar */
nav{
  height: 56px;
  background-color:#e9e2df ;
  padding: 0 24px;
  grid-gap: 24px;
  position: relative;
}
nav::before{
  content: '';
  position: absolute;
  width: 40px ;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20 -20 0 var(--light);
}
nav h4{
  color:var(--orange-color);
  /* font-weight: 900; */
}
nav img{
  width: 50px;
}
nav .nav-link{
  color: var(--dark);
  font-size: 16px;
  transition:all 0.3s ease;
}
nav .nav-link:hover{
  color: var(--orange--color) !important;
}
nav form{
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
nav form .form-input{
  height: 36px;
}
nav form .form-input input{
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
}
nav form .form-input button{
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
}
.fa-bars{
  font-size: 22px;
  color: #fffff6;
}

/* end navbar */
/*register*/

.register-box{
  background-color: #fffff6;
  box-shadow: 3px 3px 5px #8ca0aa;
  width: 80%;
  /* border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 5px 5px 10px  rgba(255,255,255,.4); */
}
@media only screen and (max-width: 768px){
  .register-box{
    width: 100%;
  }
}
.box-setPass{
  background-color: #fff;
  box-shadow: 3px 3px 5px #8ca0aa;
  width: 60%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.box-setPass .logo{
  width: 70px;
}
/*create order*/
.shipmenForm{
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}
.brdr-grey{
  border: 3px solid #dadada;
  background-color: #fff;
  border-radius: 15px;
}
.brdr-grey h6{
  color: var(--dark--color);
  
}
.brdr-grey h3{
  font-weight: 500;
  color: var(--dark--color);
  padding-bottom: 5px;
}
/*track order*/
.location-icon{
  width: 100px;
}
.track-box{
  width: 55%;
}
@media only screen and (max-width: 768px){
  .track-box{
    width: 90%;
  }
  .track-box .col-md-2{
    text-align: center;

  }
}
.details-box h5{
  color: #fa4c03;
}
.details-box span{
  color: var(--dark--color);
}
.progress-bar{
  position: relative !important;
  height: 7px !important;
  background-color: #f36426  !important;
}
.progress{
  height: 7px !important;
  
}
.truck-icon {
  background-color: #f36426;
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: calc(25% - 15px); /* Adjust the position to align the icon at the start of the progress bar */
  transform: translateY(-50%);
  z-index: 9;
  padding: 5px;
  border-radius: 50%;
}
.bg-lightblue{
  background-color: #f2f2f2;
}